importFrom ("utils", "head", "tail")
exportPattern("^[^\\.]")
S3method (dim, P.nmatrix)
S3method (print, P.nmatrix)
S3method (head, P.nmatrix)
S3method (tail, P.nmatrix)
S3method (format, P.nmatrix)
S3method (print, P.smatrix)
